/*--------------------------------------------------------------
## Blog
--------------------------------------------------------------*/

#blog #shuffle {
    margin-top: 20px;
}

#blog #shuffle > .item {
    margin-bottom: 30px;
}

#blog #shuffle .item .post {
    background: #f0f0f0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: auto;
}

#blog #shuffle .post-thumbnail {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#blog #shuffle .post-thumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

#blog #shuffle .post-details {
    padding: 15px;
}
/* Grid */

#blog #grid .blog-item-thumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

#blog #grid .blog-item-details {
    opacity: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

#blog #grid .blog-item-details:hover {
    opacity: 1;
}

#blog #grid .blog-item-details a {
    display: block;
    width: 100%;
    height: 100%;
}

#blog #grid .blog-item-details a .caption {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 70px;
    margin-top: -35px;
    text-align: center;
    color: #ffffff;
}

#sidebar{
    margin-top: 1.5em;
}