/* Overlays */

.effect.light {
    background: rgba(255, 255, 255, 0.5);
}

.effect.dark {
    background: rgba(0, 0, 0, 0.75);
}

.effect.trame-01 {
    background: url(img/textures/grid.png);
}

.effect.trame-02 {
    background: url(img/textures/squares.png);
}