/*--------------------------------------------------------------
## Page
--------------------------------------------------------------*/
/* Header */

.entry-header.left,
.page-header.left {
    text-align: left
}

.entry-header.center,
.page-header.center {
    text-align: center
}

.entry-header.right,
.page-header.right {
    text-align: right
}

.entry-header,
.page-header {
    padding-top: 0;
    padding-bottom: 0;
}

.entry-header .effect,
.page-header .effect {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-header {
    margin: 0;
    border: 0;
}

header.entry-header h1,
header.entry-header h2,
header.page-header h1,
header.page-header h2 {
    font-weight: normal;
}

header.entry-header h1.boxed,
header.entry-header h2.boxed,
header.page-header h1.boxed,
header.page-header h2.boxed {
    padding: 10px 15px;
    display: inline-block;
    clear: both;
}
/* Content */

.home .entry-content {
    margin: 0;
}