/*--------------------------------------------------------------
## StartUp CPT Milestones
--------------------------------------------------------------*/

#milestones {
    text-align: center;
}

#milestones i {
    color: #aaa
}

.milestone-data {
    color: #111;
    padding: 20px 0;
    font-weight: bold;
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 32px;
}

.milestone-details {
    font-size: 18px;
    font-weight: 600;
    color: #777
}