/*--------------------------------------------------------------
## StartUp CPT Team
--------------------------------------------------------------*/

#team-carousel .carousel-control {
    background: transparent;
    width: 20px;
    margin: 0;
    top: 40%;
}

#team-carousel .carousel-control i {
    width: 15px;
    line-height: 40px;
    background: rgba(148, 148, 148, 0.61);
}

#team-carousel .carousel-control.left i {
    border-radius: 4px 0 0 4px;
}

#team-carousel .carousel-control.right i {
    border-radius: 0 4px 4px 0;
}

#team-carousel .carousel-control.left {
    left: -2px;
}

#team-carousel .carousel-control.right {
    right: -2px;
}

.team-member {
    overflow: hidden;
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.team-image img {
    width: 100% !important;
}

.team-member:hover {
    color: #fff;
}

.team-member:hover ul.social li a {
    color: #fff;
}

.team-member:hover .team-image img {
    opacity: .6;
}

.team-member:hover {
    background: #666;
}

.team-desc {
    padding: 15px;
    cursor: default;
}

.team-member:hover .team-desc {
    border: 0;
}

.team-member:hover .team-desc .designation {
    color: #ccc
}

.team-member ul.social {
    padding: 0;
    margin: 0;
}

.team-member ul.social li {
    display: inline-block;
    margin: 0 5px;
}

.team-member ul.social li a {
    color: #aaa
}