/*--------------------------------------------------------------
## Theme My Login
--------------------------------------------------------------*/

.tml-action-links,
.tml-user-links {
    padding-left: 0px;
    list-style: outside none none;
}

.tml input#submit {
    width: auto;
}